 {% load static %}

 {% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kechup | Easy Database & Order Management System</title>
    <link href="{% static 'local/auth.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'local/src/bill.png' %}" type="image/png">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@900&display=swap" rel="stylesheet">
</head>
<body>

<!-- loading path -->

    <div class="page">
        <div>
            <img src="{% static 'local/src/Lazy-kook.png' %}" alt="Loadin ...">
        </div>
        <div>
            <h2>Loading ...</h2>
        </div>
    </div>

<!-- Header Part -->

    <header data-aos="fade-in" data-aos-duration="700">
        <h1>Kechup.</h1>
    </header>

<!-- login part -->
    <div class="login-first"data-aos="fade-in" data-aos-duration="1000">
            <div class="intro-text">
                <h1>Built For</h1>
                <h1>Restaurants</h1>
                <p>Manage All Your Orders stress free with our Restaurant Database Management System.
                    We provide you with the amazing experience from editing menus
                    to making orders. Everything here is completely for <span>free</span>.
                </p>
            </div>

            <div class="in-form">
                <div class="call-in">
                    <form action="" method="post" class="form-in">
                        {% csrf_token %}
                        {{ loginForm.key_mail|attr:"class:sname"|attr:"placeholder:Email" }}
                        <!-- <input type="email" class="sname" placeholder="Email"> -->
                        {{ loginForm.key_code|attr:"placeholder:Password" }}
                        <!-- <input type="password" class="stame" placeholder="Password"> -->
                        <input type="submit" value="Log In" class="tname">
                    </form>
                </div>
            </div>
    </div>


    <!-- identification -->
    <div class="head-call" data-aos="fade-in">
        <h1>New User? &nbsp;Sign Up Now!</h1>
    </div>

    
<!-- signup part -->
    <div class="signup-first" data-aos="fade-in" data-aos-duration="1400">
        <div class="form-x">
            <form action="" method="post">
                {% csrf_token %}
                <div class="names-x">
                        {{ nextForm.keys_fname|attr:"class:fame"|attr:"placeholder:FirstName"|attr:"autocomplete:off" }}

                    <!-- <input type="text" class="fame" placeholder="First Name"> -->
                        {{ nextForm.keys_lname|attr:"class:fame"|attr:"placeholder:LastName"|attr:"autocomplete:off" }}
                    <!-- <input type="text" class="fame" placeholder="Last Name"> -->
                </div>
                <div class="names-e">
                        {{ nextForm.keys_mail|attr:"class:uname"|attr:"placeholder:Email"|attr:"autocomplete:off" }}
                    <!-- <input type="email" class="uname" placeholder="Email Id"> -->
                </div>
                <div class="names-p">
                        {{ nextForm.keys_code|attr:"placeholder:Set Password" }}
                    <!-- <input type="password" class="pname" placeholder="Set Password"> -->
                </div>
                <div class="names-s">
                    <input type="submit" value="Sign Up" class="subit">
                </div>
                
            </form>
        </div>
    </div>

<!-- identification -->
<div class="head-call" data-aos="fade-in">
    <h1>Why Kechup?</h1>
</div>

<!-- trio part -->
    <div class="advt-igs">
            <article class="art-on" data-aos="slide-right" data-aos-duration="700">
                <img src="{% static 'local/src/Editor-In-Chief.png' %}" alt="Hero is Absent">
                <h1>Editable Database</h1>
                <p>Easy and Customizable Database with our new features</p>
            </article>
            <article class="art-on"  data-aos="fade-in" data-aos-duration="1000">
                <img src="{% static 'local/src/Menu-In-Chief.png' %}" alt="Hero is Absent" >
                <h1>Make Fast Orders</h1>
                <p>No customer has to wait for more time</p>
            </article>
            <article class="art-on" data-aos="slide-left" data-aos-duration="700">
                <img src="{% static 'local/src/Order-In-Chief.png' %}" alt="Hero is Absent" data-aos-duration="1000">
                <h1>Order History</h1>
                <p>We present you all your past orders in a amazing look</p>
            </article>
    </div>

<!-- identification -->
<div class="head-call" data-aos="fade-in">
    <h1>Meet the Creators behind this.</h1>
</div>

<!-- creators part -->
    <div class="creators-info">
        <div class="cret-in">
           <article class="cret-era" data-aos="slide-right"  data-aos-duration="1400">
               <img src="https://avatars.githubusercontent.com/u/96695352?v=4" alt="lf32">
               <h1>lf32</h1>
               <p>Free Software Developer</p>
           </article> 
        </div>
        <div class="cret-in">
        <article class="cret-era" data-aos="slide-left"  data-aos-duration="1000">
            <img src="{% static 'local/src/Two.jpg' %}" alt="pg">
            <h1>Prakhar Goyal</h1>
            <p>Computer Science Engineer</p>
        </article>
        </div>
    </div>

<!-- Footer Part -->
    
    <footer class="foot" >
        <div class="foot-bee">
            <div class="foot-bee-rit">
                <h5>© 2020 Kechup, Inc.</h5>
            </div>
            <div class="foot-bee-con">
                <a href="https://github.com/lf32/Kechup/issues" target="_blank" title="Create Issues">
                <h3>Contact Us</h3>
                </a>
            </div>
        </div>
    </footer>

<!-- All Scripts -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


    <script async>
        window.addEventListener('DOMContentLoaded', () => {
            document.querySelector('.page').style.display = "flex";
            console.log('DOMContentLoaded')
            })
        
        window.addEventListener('load', () => {
            document.querySelector('.page').style.display = "none";
            console.log('loading...')
        })

    </script>
</body>
</html>
